.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 90%;
  margin: auto;
  padding-top: 0.5rem;


}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 27%;
}
.nav-image {
  width: 5rem;
}
