* {
  box-sizing: border-box;
}

/* default  */
ul {
  list-style: none;
}
/* library */
.btn {
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.6rem 1rem;
  border: none;
}
.btn-primary {
  background: rgb(24, 198, 131);
  color: white;
}
.btn-primary:hover {
  transform: translateY(-7%);
  transition: all 0.4s;
}

.text-red {
  color: rgb(244, 67, 54);
}
.text-green {
  color: rgb(24, 198, 131);
}
